* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(47, 88%, 63%);
    font-family: "Figtree", sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    width: 300px;
    border: 1px solid black;
    border-radius: 17px;
    gap: 20px;
    box-shadow: 8px 8px 0px black;
}

.picture {
    width: 100%;
    border-radius: 10px;
}

.author {
    display: flex;
    align-self: flex-start;
    align-items: center;
    gap: 10px;
}
.author p{
    font-weight: 800;
    font-size: 14px;
}

.content p {
    
    font-size: 15px;
    color: hsl(0, 0%, 42%);
    font-weight: 500;
    line-height: 1.5;
}

.heading{
    font-weight: 800;
    font-size: 23px;
    color: black;
    transition: color 0.2s ease;
    cursor: pointer;
}
.heading:hover{
    color: hsl(47, 88%, 63%);
}
.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tag{
    background-color: hsl(47, 88%, 63%);
    padding: 5px 12px;
    border-radius: 4px;
    align-self: flex-start;
    font-weight: 800;
}
.avatar{
    width: 30px;
}
time{
    font-size: 14px;
}